{% extends "layout.html" %} {% block title %}Create Station{% endblock %} {% block body %}
<div class="row">
    <h2>Create Station</h2>
</div>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<form action="" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="sName" class="col-sm-2 control-label">Station Name</label>
        <div class="col-sm-10">
            <input type="text" name="sName" size="30" value="{{ request.form.sName }}" placeholder="Station Name" id="sName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="stopId" class="col-sm-2 control-label">Stop ID</label>
        <div class="col-sm-10">
            <input type="text" name="stopId" size="30" value="{{ request.form.stopId }}" placeholder="Stop ID" id="stopId" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="entryFare" class="col-sm-2 control-label">Entry Fare</label>
        <div class="col-sm-10">
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" name="entryFare" size="30" placeholder="0.00" id="entryFare" class="form-control">
            </div>
        </div>
    </div>
    <!-- station type radios -->
    <div class="form-group">
        <label for="busStation" class="col-sm-2 control-label">Station Type</label>
        <div class="col-sm-10">
            <div class="radio" id="busStation">
                <label>
                    <input type="radio" name="stationRadio" id="busRadio" value="bus"> Bus Station
                </label>
            </div>
            <label for="nearestIntersection"><small>Nearest Intersection (Bus Station only)</small></label>
            <input type="text" name="nearestIntersection" size="30" placeholder="Nearest Intersection" id="nearestIntersection" class="form-control">
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="radio" id="trainStation">
                <label>
                    <input type="radio" name="stationRadio" id="trainRadio" value="train" > Train Station
                </label>
            </div>
        </div>
    </div>
    <div class="form-check">
        <div class="col-sm-offset-2 col-sm-10">
            <label>
                <input type="checkbox" class="form-check-input" name="isOpen"> Open Station <small>(when checked, passengers can enter this station)</small>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create Station</button>
        </div>
    </div>
</form>

{% endblock %}