{% extends "layout.html" %} {% block title %}Sign In{% endblock %} {% block body %}
<h2>Sign In</h2>
{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" size="30" value="{{ request.form.username }}" placeholder="Username" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" size="30" placeholder="Password" class="form-control" id="password">
    </div>
    <input type="submit" value="Sign In" class="btn btn-primary">
    {% if not g.user %}
    <a class="btn btn-default" href="/register">Register</a>
    {% endif %}
</form>
{% endblock %}