{% extends "layout.html" %} {% block title %}Sign Up{% endblock %} {% block body %}
<h2>Sign Up</h2>
{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method="post">
    <div class="form-group">
        <label for="rUsername">Username</label>
        <input type="text" name="username" size="30" value="{{ request.form.username }}" placeholder="Username" id="rUsername" class="form-control">
    </div>
    <div class="form-group">
        <label for="rEmail">Email</label>
        <input type="text" name="email" size="30" value="{{ request.form.email }}" placeholder="Email" id="rEmail" class="form-control">
    </div>
    <div class="form-group">
        <label for="rPassword">Password</label>
        <input type="password" name="password" size="30" placeholder="Password" id="rPassword" class="form-control">
    </div>
    <div class="form-group">
        <label for="rPassword2">Password <small>(repeat)</small></label>
        <input type="password" name="password2" size="30" placeholder="Password" id="rPassword2" class="form-control">
    </div>
    <div class="form-group">
        <label for="breezeNumber">Breeze Card</label>
        <div class="input-group">
            <div class="radio">
                <label>
                    <input type="radio" name="breezeSelect" value="Get a new Breeze Card">
                    Get a new Breeze Card
                </label>
                <span class="input-group-addon">
                    <label>
                        <input type="radio" name="breezeSelect" value="Use my existing Breeze Card">
                        Use my existing Breeze Card
                    </label>
                </span>
                <input type="text" class="form-control" name="breezeNumber" placeholder="Breeze Card Number">
            </div>
        </div>
    </div>
    <input type="submit" value="Sign Up" class="btn btn-default">
</form>
{% endblock %}