{% extends "layout.html" %} {% block title %}Register{% endblock %} {% block body %}
<h2>Register</h2>
{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method="post">
    <div class="form-group">
        <label for="rUsername">Username</label>
        <input type="text" name="username" size="30" value="{{ request.form.username }}" placeholder="Username" id="rUsername" class="form-control">
    </div>
    <div class="form-group">
        <label for="rEmail">Email</label>
        <input type="text" name="email" size="30" value="{{ request.form.email }}" placeholder="Email" id="rEmail" class="form-control">
    </div>
    <div class="form-group">
        <label for="rPassword">Password</label>
        <input type="password" name="password" size="30" placeholder="Password" id="rPassword" class="form-control">
    </div>
    <div class="form-group">
        <label for="rPassword2">Password <small>(repeat)</small></label>
        <input type="password" name="password2" size="30" placeholder="Password" id="rPassword2" class="form-control">
    </div>
    <div class="form-group">
            <label for="breezeNumber">Use existing Breezecard (leave blank to get a new one)</label>
            <input type="text" name="breezeNumber" size="30" placeholder="000000000000" id="breezeNumber" class="form-control">
        </div>
    </div>
    <input type="submit" value="Register" class="btn btn-default">
</form>
{% endblock %}