{% extends "layout.html" %} {% block title %}Suspended Cards{% endblock %} {% block body %}
<h2>Suspended Cards</h2>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Card # (
            <a href="{{ url_for('suspended_cards', field='Conflict.BreezecardNum', asc=1) }}">asc</a>/
            <a href="{{ url_for('suspended_cards', field='Conflict.BreezecardNum', asc=0) }}">desc</a>)</th>
            <th>New Owner</th>
            <th>Date Suspended (
            <a href="{{ url_for('suspended_cards', field='DateTime', asc=1) }}">asc</a>/
            <a href="{{ url_for('suspended_cards', field='DateTime', asc=0) }}">desc</a>)</th>
            <th>Previous Owner</th>
            <th>Assign to New Owner</th>
            <th>Assign to Previous Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td>{{card[1]}}</td>
            <td>{{card[0]}}</td>
            <td>{{card[2]}}</td>
            <td>{{card[3]}}</td>
            <td><a href="{{ url_for('assign_card', breezecard=card[1], username=card[0]) }}">Assign to {{card[0]}}</a></td>
            <td><a href="{{ url_for('assign_card', breezecard=card[1], username=card[3]) }}">Assign to {{card[3]}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}