{% extends "layout.html" %} {% block title %}Suspended Cards{% endblock %} {% block body %}
<h2>Suspended Cards</h2>

{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Card #</th>
            <th>New Owner</th>
            <th>Date Suspended</th>
            <th>Previous Owner</th>
            <th>Assign to New Owner</th>
            <th>Assign to Previous Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td>{{card[1]}}</td>
            <td>{{card[0]}}</td>
            <td>{{card[2]}}</td>
            <td>{{card[3]}}</td>
            <td><a href="#">Assign to {{card[0]}}</a></td>
            <td><a href="#">Assign to {{card[3]}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}