{% extends "layout.html" %} {% block title %}User Home{% endblock %} {% block body %}
<div class="row">
    <h2>Welcome to Marta</h2>
</div>

{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

<form action="" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="sName" class="col-sm-2 control-label">Breeze Card</label>
        <div class="col-sm-8">
            <select class="form-control">
                {% for card in breezeCards %}
                    <option>{{ card[0] }} - ${{ card[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="stopId" class="col-sm-2 control-label">Start at</label>
        <div class="col-sm-8">
            <select class="form-control">
                {% if startStation %}
                    <option>{{startStation}}</option>
                {% else %}
                {% for station in startStations %}
                    <option>{{station[0]}} - ${{station[1]}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </div>
         {% if not startStation %}
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Start Trip</button>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="entryFare" class="col-sm-2 control-label">Ending at</label>
        <div class="col-sm-8">
            <select class="form-control">
                 {% if not startStation %}
                <option>You aren't on a trip</option>
                {% else %} {% for station in endStations %}
                <option>{{station[0]}}</option>
                {% endfor %} {% endif %}
            </select>
        </div>
        {% if startStation %}
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">End Trip</button>
        </div>
        {% endif %}
    </div>
</form>

{% endblock %}