{% extends "layout.html" %} {% block title %}User Home{% endblock %} {% block body %}
<div class="row">
    <h2>Welcome to Marta</h2>
</div>

{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

<form action="" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="sName" class="col-sm-2 control-label">Breeze Card</label>
        <div class="col-sm-8">
            <select class="form-control">
                {% for card in breezeCards %}
                    <option>{{ card[0] }} - ${{ card[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="stopId" class="col-sm-2 control-label">Start at</label>
        <div class="col-sm-8">
            <select class="form-control">
                <option>Default select</option>
            </select>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Start Trip</button>
        </div>
    </div>
    <div class="form-group">
        <label for="entryFare" class="col-sm-2 control-label">Ending at</label>
        <div class="col-sm-8">
            <select class="form-control">
                <option>Default select</option>
            </select>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default">End Trip</button>
        </div>
    </div>
</form>

{% endblock %}