{% extends "layout.html" %} {% block title %}Manage Cards{% endblock %} {% block body %}
<h2>Manage Cards</h2>

{% if error %}
<div class="error">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Card Number</th>
            <th>Value</th>
            <th>Remove?</th>
            <th>Add Funds?</th>
        </tr>
    </thead>
    <tbody>
        {% for card in breezeCards %}
            <tr>
                <td>{{ card[0] }}</td>
                <td>${{ card[1] }}</td>
                <td><a href="{{ url_for('delete_card', breezecard=card[0]) }}">Remove</a></td>
                <td><a href="{{ url_for('add_funds', breezecard=card[0]) }}">Add Funds</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form class="form-inline" method="post">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="number" placeholder="0000 0000 0000 0000" name="cardNum">
    <button type="submit" class="btn btn-primary">Add Card</button>
</form>

{% endblock %}